<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <header>
      <div id="work">
        <h1>hey you, this is portfolio of</h1>
        <h2>Anzhelika Mykhailenko</h2>
        <h3>I AM</h3>
        <h4>passionate developer with marketing skills</h4>
        <button class="button1">about me</button>
        <button class="button1">works bitch</button>
        <button class="button1">contact me, baby</button>
        <p1></p1>
      </div>
    </header>
  </body>
</html>
